body {
  margin: 0;
  font-family: "League Spartan", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  overflow-x:hidden;
  background-color: #fff;
  color: #000;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-content, .join-content, .container{
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.dark body{
  background-color: #000;
  color: #fff;
}

.header a{
  color: #000;
  text-decoration:none;
}
.dark .header a{
  color: #fff;
}

.header a:hover{
  color: #1a9bf0;
  text-decoration:none;
}
.dark .header a:hover{
  color: #f41711;
  text-decoration:none;
}

a{
  color: #1a9bf0;
  text-decoration:none
}

.dark a{
  color: #f41711;
  text-decoration:none
}

a:hover{
  text-decoration:underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navMenu{
  position:absolute;
  top:22px;
  right:25px;
  font-size:2.5em;
  cursor:pointer;
}

.navMenuOption{
  line-height: 0.9em;
  margin-bottom:10px;
}

.navMenu span{
  display:inline-block;
  max-width:32px;
}

#modeBtn img{
  content:url("/moon-black.png");
}

.dark #modeBtn img{
  content:url("/sun-white.png");
}

#modeBtn img:hover{
  content:url("/moon-blue.png");
}

.dark #modeBtn img:hover{
  content:url("/sun-red.png");
}

#navBtn img{
  content:url("/menu-black.png");
}

.dark #navBtn img{
  content:url("/menu-white.png");
}

#navBtn img:hover{
  content:url("/menu-blue.png");
}

.dark #navBtn img:hover{
  content:url("/menu-red.png");
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-weight: bold;
}

.dark .sidenav{
  background-color: #0a0a0a;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.dark .sidenav a {
  color: #fff;
}

.sidenav a:hover {
  color: #1a9bf0;
}
.dark .sidenav a:hover {
  color: #f41711;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
  padding-left: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.left-home-image{
  width:35%;
  float:left;
}

#homewhiteimg, #homedarkimg{
  width:100%;
  height: auto;
}
#homewhiteimg{
  display:inline;
}
#homedarkimg{
  display:none;
}
.dark #homewhiteimg{
  display:none;
}
.dark #homedarkimg{
  display:inline;
}

.right-join-image{
  width:35%;
  float:right;
}

#joinwhiteimg, #joindarkimg{
  width:100%;
  height: auto;
}
#joinwhiteimg{
  display:inline;
}
#joindarkimg{
  display:none;
}
.dark #joinwhiteimg{
  display:none;
}
.dark #joindarkimg{
  display:inline;
}

.right-content{
  float:left;
	width: 60%;
	clear: none;
	float: none;
  margin: 0 5% 0 35%;
	display:block;
	padding-top: 50px;
  text-transform: uppercase;
}

.left-content{
  float:left;
	width: 60%;
	clear: none;
  margin: 0 0 0 5%;
	display:block;
	padding-top: 50px;
  text-transform: uppercase;
}

.indent{
	margin-left:25px;
}

.piece-body{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 5px;
}

.piece-body-hidden{
  display: none;
}

.piece-hidden{
  display: none;
}

.piece-single{
  display: block;
}

.piece-desc {
  font-weight: 200;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: .75rem;
}

.carousel-left{
  cursor:pointer;
  margin-top:30vh;
  float: left;
  width: 10%;
  margin-right: 5%;
}
.carousel-right{
  cursor:pointer;
  margin-top:30vh;
  float: left;
  width: 10%;
  margin-left: 5%;
}
@media all and (max-width: 767px) {
  .carousel-left{
    margin-top:15vh;
  }
  .carousel-right{
    margin-top:15vh;
  }
}

.carousel-left-hidden, .carousel-right-hidden{
  display: none;
}

.carousel-left-arrow{
  content:url("/leftarrow.png");
}
.carousel-right-arrow{
  content:url("/rightarrow.png");
}

.dark .carousel-left-arrow{
  content:url("/leftarrow-white.png");
}
.dark .carousel-right-arrow{
  content:url("/rightarrow-white.png");
}

.pieces-container-single{
  width: 70%;
  float:left;
}

.pieces-container-single .image-carouselview img, .pieces-container-single .image-carouselview video{
  margin: 0 auto;
  width: auto;
  max-height:75vh;
}

.piece-single .image-gridview{
  display:none;
}

.piece .image-carouselview{
  display:none;
}

.hover-zoom-wrapper{
  overflow:hidden;
}
img.hover-zoom {
  transition: all 0.3s ease 0s;
  width: 100%;
}
img.hover-zoom:hover {
  transform: scale(1.1);
}

@media all and (max-width: 1050px) {
  .left-home-image, .right-join-image{
    width:90%;
    float:left;
    margin: 0 5% 0 5%;
    text-align:center;
  }
  .left-home-image img, .right-join-image img{
    max-width:300px;
  }
  .right-content, .left-content{
    float:left;
    width: 90%;
    margin: 0 5% 0 5%;
  }
}

@media all and (max-width: 767px) {
  .navMenu{
    top:25px;
    font-size:1.75em;
  }
  .navMenu span{
    max-width:26px;
  }
  .siteHeader{
    font-size:1.75em;
  }
}

@media all and (max-width: 500px) {
  .navMenu{
    top:27px;
    font-size:1.25em;
  }
  .siteHeader{
    font-size:1.25em;
  }
}

.toggleBG{
  background-color: #000;

}

.dark .toggleBG{
  background-color: #fff;

}
.dark input ~ .dot {
  background-color: #000;

}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #1a9bf0;
}

.dark input:checked ~ .dot {
  background-color: #f41711;
}

.galleryDetailsShowToggleImage{
	content:url("/details.png");
}

.dark .galleryDetailsShowToggleImage{
	content:url("/details-white.png");
}

.galleryDetailsHideToggleImage{
	content:url("/image.png");
}

.dark .galleryDetailsHideToggleImage{
	content:url("/image-white.png");
}

.galleryGridToggleImage{
	content:url("/grid.png");
}

.dark .galleryGridToggleImage{
	content:url("/grid-white.png");
}

.gallerySingleToggleImage{
	content:url("/carousel.png");
}

.dark .gallerySingleToggleImage{
	content:url("/carousel-white.png");
}
